{{title}}
<br/>
<br/>
<input type="text" (keyup)="filterItem($event)" placeholder="Search country"/>

<div style="margin-top:10px" *ngFor="let country of filteredCountryList">
  <div class="outerdiv" style="display: flex;justify-content: space-between;">
    <div>
      <div style="color: blue">{{country.name.common}}</div>
      <div>{{country.capital[0]}}, {{country.subregion}}</div>
    </div>
    <div>
      <div style="color: gray">Population</div>
      <div>{{country.population}}</div>
    </div>
  </div>
</div>